# --- Backend / .NET ---
bin/
obj/
*.user
*.suo
*.cache
*.log

# Visual Studio
.vs/
*.ide/

# --- Frontend / Node / Angular ---
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
